<h1><%= @place["name"] %></h1>
<h2>My Entries</h2>
<div class="row">
  <% for entry in @entries %>
    <div class="col-sm-6 col-md-3">
      <h6>
        <%# find user who created post %>
        <% user = User.find_by({ "id" => entry["user_id"] }) %>
        <%# handle any potential bad data where the post is missing a user %>
        <% if user != nil %>
         <%= user["username"] %>
        <% else %>
          anonymous
        <% end %>
      </h6>

      <h4><%= entry["title"] %></h4>
      <%# conditionally display attached file if entry.uploaded_image.attached? %>
      <% if entry.uploaded_image.attached? %>
        <img src="<%= url_for(entry.uploaded_image) %>" class="img-fluid">
      <%# otherwise display original image url from database column %>
      <% else %>
        <img src="<%= entry["image"] %>" class="img-fluid">
      <% end %>
     
      <h6><%= entry["occurred_on"] %></h6>
      <p><%= entry["description"] %></p> 

    </div>
  <% end %>
</div>

<p>
  <a href="/entries/new?place_id=<%= @place["id"] %>">New Entry</a>
</p>

<p>
  <a href="/places">Back to All Places</a>
</p>